* {
    font-family: sans-serif;
}

h4 * {
    padding: 0px;;
}

.hidden{
    visibility: hidden;
    position: absolute;
  }


.header{

    background: linear-gradient(to right, blue, rgb(30, 5, 65));
    height: 75px;
    width: 100%;
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);

}

.aside{
    float: left;
    height: 100%;
    width: 300px;
    margin: 10px;;
}

aside button {
    height: 30px;
    width: 90%;
    margin: 10px;
    background-color:#d4d4d4;
    border: 0px;
	border-radius:5px;
    cursor:pointer;
	color:#4f4f4f;
}

aside button:hover {
    background-color:#c2c2c2;
}

.currentCitySummary{
    border: 2px solid black;
    width: 70%;
    height: 225px;
    float: inline-start; 
    position: relative;
    margin-left: 315px;
    padding: 10px;
}

.searchForCity{
    padding-bottom: 15px;
    border-bottom: 2px solid gray;
    margin-bottom: 15px;
    
}

.wD {
    color: white;
    text-align: center;
    padding-top: 25px;

}

.fiveDay{
    height: 400px;
    padding: 15px;
    padding-top: 0px;
    padding-left: 0px;
}

.fiveDay div {
    padding: 10px;
    padding-top: 0px;
    width: 170px;
    height: 225px;
    background-color: rgb(37, 54, 70);
    margin-right: 15px;
    display: inline-block;
    margin-bottom: 15px;
    color: white;
    
}

.input{
    height: 30px;
    width: 87%;
    margin: 10px;
    margin-bottom: 0px;
	border-radius:5px;
    border-color: black;
}


.searchButton{
    background-color: cornflowerblue;
    color: white;
}

.formattedCity img{
    float: right;
}

.currentPic {
    float: right;
}

